extends layout

block content
  div(style='text-align:center; position:relative; top:50%; transform:translateY(-50%);')
    h3(style='color:#2980b9')=title
    textarea(rows='20' cols='50' id='textArea' style='text-align: center; background: #34495e; border: none; resize: none; padding: 20px; border-radius: 5px; color: #819EBB;')