extends layout

block content
  div(style='text-align:center; position:relative; top:50%; transform:translateY(-50%);')
    h3=title
    textarea(rows='20' cols='50' id='textArea' style='text-align:center')